/******************
*
* Bootstrap UI
* Semantic bootstrap
*
*******************/
.thumbnail > img,
.thumbnail a > img,
.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
  display: block;
  width: 100% \9;
  max-width: 100%;
  height: auto;
}
#ui input[type=text],
#ui input[type=email],
#ui input[type=url],
#ui input[type=tel],
#ui input[type=number],
#ui textarea,
#ui select {
  display: block;
  width: 100%;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555555;
  background-color: #ffffff;
  background-image: none;
  border: 1px solid #cccccc;
  border-radius: 2px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
.form-horizontal .form-group-sm .form-control {
  height: 30px;
  padding: 5px 10px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 1px;
}
.form-horizontal .form-group-lg .form-control {
  height: 46px;
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.33;
  border-radius: 3px;
}
#ui button {
  display: inline-block;
  margin-bottom: 0;
  font-weight: normal;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  white-space: nowrap;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  border-radius: 2px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.btn-group-lg > .btn {
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.33;
  border-radius: 3px;
}
.btn-group-sm > .btn {
  padding: 5px 10px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 1px;
}
.btn-group-xs > .btn {
  padding: 1px 5px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 1px;
}
.dl-horizontal dd:before,
.dl-horizontal dd:after,
.container:before,
.container:after,
.container-fluid:before,
.container-fluid:after,
.row:before,
.row:after,
.form-horizontal .form-group:before,
.form-horizontal .form-group:after,
.btn-toolbar:before,
.btn-toolbar:after,
.btn-group-vertical > .btn-group:before,
.btn-group-vertical > .btn-group:after,
.nav:before,
.nav:after,
.navbar:before,
.navbar:after,
.navbar-header:before,
.navbar-header:after,
.navbar-collapse:before,
.navbar-collapse:after,
.pager:before,
.pager:after,
.panel-body:before,
.panel-body:after,
.modal-footer:before,
.modal-footer:after,
.bootui .contain:before,
.bootui .contain:after,
.bootui .blocks:before,
.bootui .blocks:after {
  content: " ";
  display: table;
}
.dl-horizontal dd:after,
.container:after,
.container-fluid:after,
.row:after,
.form-horizontal .form-group:after,
.btn-toolbar:after,
.btn-group-vertical > .btn-group:after,
.nav:after,
.navbar:after,
.navbar-header:after,
.navbar-collapse:after,
.pager:after,
.panel-body:after,
.modal-footer:after,
.bootui .contain:after,
.bootui .blocks:after {
  clear: both;
}
/* navbars */
/* sg-fonts font mixins */
/* mixins
use full theme mixins
*/
.bootui .contain {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}
.bootui .position.middle {
  display: table;
  height: inherit !important;
  width: 100%;
}
.bootui .position.middle > div,
.bootui .position.middle > aside,
.bootui .position.middle > li {
  display: table-cell;
  width: 100%;
  vertical-align: middle;
}
.bootui p,
.bootui aside,
.bootui label {
  margin-bottom: 10px;
}
@media (min-width: 768px) {
  section.bootui div.contain,
  header.bootui div.contain,
  footer.bootui div.contain,
  main.bootui div.contain {
    width: 750px;
  }
}
@media (min-width: 992px) {
  section.bootui div.contain,
  header.bootui div.contain,
  footer.bootui div.contain,
  main.bootui div.contain {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  section.bootui div.contain,
  header.bootui div.contain,
  footer.bootui div.contain,
  main.bootui div.contain {
    width: 1170px;
  }
}
.bootui .blocks {
  margin-left: -15px;
  margin-right: -15px;
}
.bootui .blog .post {
  float: left;
  width: 100%;
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}
@media (min-width: 768px) {
  .bootui .blog .post {
    float: left;
    width: 100%;
  }
}
@media (min-width: 992px) {
  .bootui .blog .post {
    float: left;
    width: 66.66666667%;
  }
}
@media (min-width: 1200px) {
  .bootui .blog .post {
    float: left;
    width: 66.66666667%;
  }
}
.bootui .blog .post.single.page {
  float: left;
  width: 100%;
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}
@media (min-width: 768px) {
  .bootui .blog .post.single.page {
    float: left;
    width: 100%;
  }
}
@media (min-width: 992px) {
  .bootui .blog .post.single.page {
    float: left;
    width: 100%;
  }
}
@media (min-width: 1200px) {
  .bootui .blog .post.single.page {
    float: left;
    width: 100%;
  }
}
.bootui .blog .sidebar {
  float: left;
  width: 100%;
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}
@media (min-width: 768px) {
  .bootui .blog .sidebar {
    float: left;
    width: 100%;
  }
}
@media (min-width: 992px) {
  .bootui .blog .sidebar {
    float: left;
    width: 33.33333333%;
  }
}
@media (min-width: 1200px) {
  .bootui .blog .sidebar {
    float: left;
    width: 33.33333333%;
  }
}
.bootui .one.columns > aside,
.bootui .one.columns > ul > li,
.bootui .one.columns > div {
  float: left;
  width: 100%;
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}
@media (min-width: 768px) {
  .bootui .one.columns > aside,
  .bootui .one.columns > ul > li,
  .bootui .one.columns > div {
    float: left;
    width: 100%;
  }
}
@media (min-width: 992px) {
  .bootui .one.columns > aside,
  .bootui .one.columns > ul > li,
  .bootui .one.columns > div {
    float: left;
    width: 100%;
  }
}
@media (min-width: 1200px) {
  .bootui .one.columns > aside,
  .bootui .one.columns > ul > li,
  .bootui .one.columns > div {
    float: left;
    width: 100%;
  }
}
.bootui .two.columns > aside,
.bootui .two.columns > ul > li,
.bootui .two.columns > div {
  float: left;
  width: 50%;
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}
@media (min-width: 768px) {
  .bootui .two.columns > aside,
  .bootui .two.columns > ul > li,
  .bootui .two.columns > div {
    float: left;
    width: 50%;
  }
}
@media (min-width: 992px) {
  .bootui .two.columns > aside,
  .bootui .two.columns > ul > li,
  .bootui .two.columns > div {
    float: left;
    width: 50%;
  }
}
@media (min-width: 1200px) {
  .bootui .two.columns > aside,
  .bootui .two.columns > ul > li,
  .bootui .two.columns > div {
    float: left;
    width: 50%;
  }
}
.bootui .three.columns > aside,
.bootui .three.columns > ul > li,
.bootui .three.columns > div {
  float: left;
  width: 33.33333333%;
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}
@media (min-width: 768px) {
  .bootui .three.columns > aside,
  .bootui .three.columns > ul > li,
  .bootui .three.columns > div {
    float: left;
    width: 33.33333333%;
  }
}
@media (min-width: 992px) {
  .bootui .three.columns > aside,
  .bootui .three.columns > ul > li,
  .bootui .three.columns > div {
    float: left;
    width: 33.33333333%;
  }
}
@media (min-width: 1200px) {
  .bootui .three.columns > aside,
  .bootui .three.columns > ul > li,
  .bootui .three.columns > div {
    float: left;
    width: 33.33333333%;
  }
}
.bootui .four.columns > aside,
.bootui .four.columns > ul > li,
.bootui .four.columns > div {
  float: left;
  width: 25%;
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}
@media (min-width: 768px) {
  .bootui .four.columns > aside,
  .bootui .four.columns > ul > li,
  .bootui .four.columns > div {
    float: left;
    width: 25%;
  }
}
@media (min-width: 992px) {
  .bootui .four.columns > aside,
  .bootui .four.columns > ul > li,
  .bootui .four.columns > div {
    float: left;
    width: 25%;
  }
}
@media (min-width: 1200px) {
  .bootui .four.columns > aside,
  .bootui .four.columns > ul > li,
  .bootui .four.columns > div {
    float: left;
    width: 25%;
  }
}
.bootui .five.columns > aside,
.bootui .five.columns > ul > li,
.bootui .five.columns > div {
  float: left;
  width: 20%;
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}
@media (min-width: 768px) {
  .bootui .five.columns > aside,
  .bootui .five.columns > ul > li,
  .bootui .five.columns > div {
    float: left;
    width: 20%;
  }
}
@media (min-width: 992px) {
  .bootui .five.columns > aside,
  .bootui .five.columns > ul > li,
  .bootui .five.columns > div {
    float: left;
    width: 20%;
  }
}
@media (min-width: 1200px) {
  .bootui .five.columns > aside,
  .bootui .five.columns > ul > li,
  .bootui .five.columns > div {
    float: left;
    width: 20%;
  }
}
.bootui .six.columns > aside,
.bootui .six.columns > ul > li,
.bootui .six.columns > div {
  float: left;
  width: 16.66666667%;
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}
@media (min-width: 768px) {
  .bootui .six.columns > aside,
  .bootui .six.columns > ul > li,
  .bootui .six.columns > div {
    float: left;
    width: 16.66666667%;
  }
}
@media (min-width: 992px) {
  .bootui .six.columns > aside,
  .bootui .six.columns > ul > li,
  .bootui .six.columns > div {
    float: left;
    width: 16.66666667%;
  }
}
@media (min-width: 1200px) {
  .bootui .six.columns > aside,
  .bootui .six.columns > ul > li,
  .bootui .six.columns > div {
    float: left;
    width: 16.66666667%;
  }
}
.bootui .seven.columns > aside,
.bootui .seven.columns > ul > li,
.bootui .seven.columns > div {
  float: left;
  width: 14.28571429%;
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}
@media (min-width: 768px) {
  .bootui .seven.columns > aside,
  .bootui .seven.columns > ul > li,
  .bootui .seven.columns > div {
    float: left;
    width: 14.28571429%;
  }
}
@media (min-width: 992px) {
  .bootui .seven.columns > aside,
  .bootui .seven.columns > ul > li,
  .bootui .seven.columns > div {
    float: left;
    width: 14.28571429%;
  }
}
@media (min-width: 1200px) {
  .bootui .seven.columns > aside,
  .bootui .seven.columns > ul > li,
  .bootui .seven.columns > div {
    float: left;
    width: 14.28571429%;
  }
}
.bootui .eight.columns > aside,
.bootui .eight.columns > ul > li,
.bootui .eight.columns > div {
  float: left;
  width: 12.5%;
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}
@media (min-width: 768px) {
  .bootui .eight.columns > aside,
  .bootui .eight.columns > ul > li,
  .bootui .eight.columns > div {
    float: left;
    width: 12.5%;
  }
}
@media (min-width: 992px) {
  .bootui .eight.columns > aside,
  .bootui .eight.columns > ul > li,
  .bootui .eight.columns > div {
    float: left;
    width: 12.5%;
  }
}
@media (min-width: 1200px) {
  .bootui .eight.columns > aside,
  .bootui .eight.columns > ul > li,
  .bootui .eight.columns > div {
    float: left;
    width: 12.5%;
  }
}
.bootui .nine.columns > aside,
.bootui .nine.columns > ul > li,
.bootui .nine.columns > div {
  float: left;
  width: 11.11111111%;
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}
@media (min-width: 768px) {
  .bootui .nine.columns > aside,
  .bootui .nine.columns > ul > li,
  .bootui .nine.columns > div {
    float: left;
    width: 11.11111111%;
  }
}
@media (min-width: 992px) {
  .bootui .nine.columns > aside,
  .bootui .nine.columns > ul > li,
  .bootui .nine.columns > div {
    float: left;
    width: 11.11111111%;
  }
}
@media (min-width: 1200px) {
  .bootui .nine.columns > aside,
  .bootui .nine.columns > ul > li,
  .bootui .nine.columns > div {
    float: left;
    width: 11.11111111%;
  }
}
.bootui .ten.columns > aside,
.bootui .ten.columns > ul > li,
.bootui .ten.columns > div {
  float: left;
  width: 10%;
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}
@media (min-width: 768px) {
  .bootui .ten.columns > aside,
  .bootui .ten.columns > ul > li,
  .bootui .ten.columns > div {
    float: left;
    width: 10%;
  }
}
@media (min-width: 992px) {
  .bootui .ten.columns > aside,
  .bootui .ten.columns > ul > li,
  .bootui .ten.columns > div {
    float: left;
    width: 10%;
  }
}
@media (min-width: 1200px) {
  .bootui .ten.columns > aside,
  .bootui .ten.columns > ul > li,
  .bootui .ten.columns > div {
    float: left;
    width: 10%;
  }
}
.bootui .eleven.columns > aside,
.bootui .eleven.columns > ul > li,
.bootui .eleven.columns > div {
  float: left;
  width: 9.09090909%;
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}
@media (min-width: 768px) {
  .bootui .eleven.columns > aside,
  .bootui .eleven.columns > ul > li,
  .bootui .eleven.columns > div {
    float: left;
    width: 9.09090909%;
  }
}
@media (min-width: 992px) {
  .bootui .eleven.columns > aside,
  .bootui .eleven.columns > ul > li,
  .bootui .eleven.columns > div {
    float: left;
    width: 9.09090909%;
  }
}
@media (min-width: 1200px) {
  .bootui .eleven.columns > aside,
  .bootui .eleven.columns > ul > li,
  .bootui .eleven.columns > div {
    float: left;
    width: 9.09090909%;
  }
}
.bootui .tweleve.columns > aside,
.bootui .tweleve.columns > ul > li,
.bootui .tweleve.columns > div {
  float: left;
  width: 8.33333333%;
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}
@media (min-width: 768px) {
  .bootui .tweleve.columns > aside,
  .bootui .tweleve.columns > ul > li,
  .bootui .tweleve.columns > div {
    float: left;
    width: 8.33333333%;
  }
}
@media (min-width: 992px) {
  .bootui .tweleve.columns > aside,
  .bootui .tweleve.columns > ul > li,
  .bootui .tweleve.columns > div {
    float: left;
    width: 8.33333333%;
  }
}
@media (min-width: 1200px) {
  .bootui .tweleve.columns > aside,
  .bootui .tweleve.columns > ul > li,
  .bootui .tweleve.columns > div {
    float: left;
    width: 8.33333333%;
  }
}
.bootui .cols.wide .one,
.bootui .cw .one {
  float: left;
  width: 100%;
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}
@media (min-width: 768px) {
  .bootui .cols.wide .one,
  .bootui .cw .one {
    float: left;
    width: 100%;
  }
}
@media (min-width: 992px) {
  .bootui .cols.wide .one,
  .bootui .cw .one {
    float: left;
    width: 8.33333333%;
  }
}
@media (min-width: 1200px) {
  .bootui .cols.wide .one,
  .bootui .cw .one {
    float: left;
    width: 8.33333333%;
  }
}
.bootui .cols.wide .two,
.bootui .cw .two {
  float: left;
  width: 100%;
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}
@media (min-width: 768px) {
  .bootui .cols.wide .two,
  .bootui .cw .two {
    float: left;
    width: 100%;
  }
}
@media (min-width: 992px) {
  .bootui .cols.wide .two,
  .bootui .cw .two {
    float: left;
    width: 16.66666667%;
  }
}
@media (min-width: 1200px) {
  .bootui .cols.wide .two,
  .bootui .cw .two {
    float: left;
    width: 16.66666667%;
  }
}
.bootui .cols.wide .three,
.bootui .cw .three {
  float: left;
  width: 100%;
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}
@media (min-width: 768px) {
  .bootui .cols.wide .three,
  .bootui .cw .three {
    float: left;
    width: 100%;
  }
}
@media (min-width: 992px) {
  .bootui .cols.wide .three,
  .bootui .cw .three {
    float: left;
    width: 25%;
  }
}
@media (min-width: 1200px) {
  .bootui .cols.wide .three,
  .bootui .cw .three {
    float: left;
    width: 25%;
  }
}
.bootui .cols.wide .four,
.bootui .cw .four {
  float: left;
  width: 100%;
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}
@media (min-width: 768px) {
  .bootui .cols.wide .four,
  .bootui .cw .four {
    float: left;
    width: 100%;
  }
}
@media (min-width: 992px) {
  .bootui .cols.wide .four,
  .bootui .cw .four {
    float: left;
    width: 33.33333333%;
  }
}
@media (min-width: 1200px) {
  .bootui .cols.wide .four,
  .bootui .cw .four {
    float: left;
    width: 33.33333333%;
  }
}
.bootui .cols.wide .five,
.bootui .cw .five {
  float: left;
  width: 100%;
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}
@media (min-width: 768px) {
  .bootui .cols.wide .five,
  .bootui .cw .five {
    float: left;
    width: 100%;
  }
}
@media (min-width: 992px) {
  .bootui .cols.wide .five,
  .bootui .cw .five {
    float: left;
    width: 41.66666667%;
  }
}
@media (min-width: 1200px) {
  .bootui .cols.wide .five,
  .bootui .cw .five {
    float: left;
    width: 41.66666667%;
  }
}
.bootui .cols.wide .six,
.bootui .cw .six {
  float: left;
  width: 100%;
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}
@media (min-width: 768px) {
  .bootui .cols.wide .six,
  .bootui .cw .six {
    float: left;
    width: 100%;
  }
}
@media (min-width: 992px) {
  .bootui .cols.wide .six,
  .bootui .cw .six {
    float: left;
    width: 50%;
  }
}
@media (min-width: 1200px) {
  .bootui .cols.wide .six,
  .bootui .cw .six {
    float: left;
    width: 50%;
  }
}
.bootui .cols.wide .seven,
.bootui .cw .seven {
  float: left;
  width: 100%;
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}
@media (min-width: 768px) {
  .bootui .cols.wide .seven,
  .bootui .cw .seven {
    float: left;
    width: 100%;
  }
}
@media (min-width: 992px) {
  .bootui .cols.wide .seven,
  .bootui .cw .seven {
    float: left;
    width: 58.33333333%;
  }
}
@media (min-width: 1200px) {
  .bootui .cols.wide .seven,
  .bootui .cw .seven {
    float: left;
    width: 58.33333333%;
  }
}
.bootui .cols.wide .eight,
.bootui .cw .eight {
  float: left;
  width: 100%;
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}
@media (min-width: 768px) {
  .bootui .cols.wide .eight,
  .bootui .cw .eight {
    float: left;
    width: 100%;
  }
}
@media (min-width: 992px) {
  .bootui .cols.wide .eight,
  .bootui .cw .eight {
    float: left;
    width: 66.66666667%;
  }
}
@media (min-width: 1200px) {
  .bootui .cols.wide .eight,
  .bootui .cw .eight {
    float: left;
    width: 66.66666667%;
  }
}
.bootui .cols.wide .nine,
.bootui .cw .nine {
  float: left;
  width: 100%;
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}
@media (min-width: 768px) {
  .bootui .cols.wide .nine,
  .bootui .cw .nine {
    float: left;
    width: 100%;
  }
}
@media (min-width: 992px) {
  .bootui .cols.wide .nine,
  .bootui .cw .nine {
    float: left;
    width: 75%;
  }
}
@media (min-width: 1200px) {
  .bootui .cols.wide .nine,
  .bootui .cw .nine {
    float: left;
    width: 75%;
  }
}
.bootui .cols.wide .ten,
.bootui .cw .ten {
  float: left;
  width: 100%;
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}
@media (min-width: 768px) {
  .bootui .cols.wide .ten,
  .bootui .cw .ten {
    float: left;
    width: 100%;
  }
}
@media (min-width: 992px) {
  .bootui .cols.wide .ten,
  .bootui .cw .ten {
    float: left;
    width: 83.33333333%;
  }
}
@media (min-width: 1200px) {
  .bootui .cols.wide .ten,
  .bootui .cw .ten {
    float: left;
    width: 83.33333333%;
  }
}
.bootui .cols.wide .eleven,
.bootui .cw .eleven {
  float: left;
  width: 100%;
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}
@media (min-width: 768px) {
  .bootui .cols.wide .eleven,
  .bootui .cw .eleven {
    float: left;
    width: 100%;
  }
}
@media (min-width: 992px) {
  .bootui .cols.wide .eleven,
  .bootui .cw .eleven {
    float: left;
    width: 91.66666667%;
  }
}
@media (min-width: 1200px) {
  .bootui .cols.wide .eleven,
  .bootui .cw .eleven {
    float: left;
    width: 91.66666667%;
  }
}
.bootui .cols.wide .tweleve,
.bootui .cw .tweleve {
  float: left;
  width: 100%;
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}
@media (min-width: 768px) {
  .bootui .cols.wide .tweleve,
  .bootui .cw .tweleve {
    float: left;
    width: 100%;
  }
}
@media (min-width: 992px) {
  .bootui .cols.wide .tweleve,
  .bootui .cw .tweleve {
    float: left;
    width: 100%;
  }
}
@media (min-width: 1200px) {
  .bootui .cols.wide .tweleve,
  .bootui .cw .tweleve {
    float: left;
    width: 100%;
  }
}
.bootui label,
.bootui .label,
.bootui .rounded {
  border-radius: 2px;
}
.bootui .mobiles {
  display: none !important;
}
@media (min-width: 768px) and (max-width: 991px) {
  .bootui .mobiles {
    display: block !important;
  }
  table.bootui .mobiles {
    display: table;
  }
  tr.bootui .mobiles {
    display: table-row !important;
  }
  th.bootui .mobiles,
  td.bootui .mobiles {
    display: table-cell !important;
  }
}
@media (max-width: 767px) {
  .bootui .mobiles {
    display: block !important;
  }
  table.bootui .mobiles {
    display: table;
  }
  tr.bootui .mobiles {
    display: table-row !important;
  }
  th.bootui .mobiles,
  td.bootui .mobiles {
    display: table-cell !important;
  }
}
.bootui .desktops {
  display: none !important;
}
@media (min-width: 992px) and (max-width: 1199px) {
  .bootui .desktops {
    display: inline !important;
  }
}
@media (min-width: 1200px) {
  .bootui .desktops {
    display: inline !important;
  }
}
.bootui .phones {
  display: none !important;
}
@media (max-width: 767px) {
  .bootui .phones {
    display: block !important;
  }
  table.bootui .phones {
    display: table;
  }
  tr.bootui .phones {
    display: table-row !important;
  }
  th.bootui .phones,
  td.bootui .phones {
    display: table-cell !important;
  }
}
@media (max-width: 320px) {
  html {
    font-size: 48%;
  }
}
@media (min-width: 321px) and (max-width: 767px) {
  html {
    font-size: 54%;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  html {
    font-size: 58%;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  html {
    font-size: 62%;
  }
}
@media (min-width: 1200px) {
  html {
    font-size: 62%;
  }
}
body {
  font-size: 15px;
  font-size: 1.5rem;
}
#ui label {
  width: 100%;
  display: block;
  margin-bottom: 10px;
}
#ui label.inline {
  display: inline;
  padding-right: 10px;
}
#ui .inline {
  display: inline;
}
#ui .inline .block {
  display: inline-block;
}
#ui input[type=text],
#ui input[type=email],
#ui input[type=url],
#ui input[type=tel],
#ui input[type=number],
#ui textarea,
#ui select {
  margin-bottom: 10px;
}
#ui input[type=text][required]::after,
#ui input[type=email][required]::after,
#ui input[type=url][required]::after,
#ui input[type=tel][required]::after,
#ui input[type=number][required]::after,
#ui textarea[required]::after,
#ui select[required]::after {
  content: '*';
}
#ui button .collapsed {
  display: none;
}
#ui :required {
  content: '*';
  border-bottom: 1px solid dotted !important;
}
#ui input[type="color"],
#ui input[type=date],
#ui input[type=month] {
  width: 40%;
}
#ui input[type="checkbox"],
#ui input[type="radio"] {
  display: inline;
}
#ui input[required]::after {
  content: "*";
  padding-right: 10px;
}
#ui .navbar-toggle .fa {
  font-size: 26px;
  font-size: 2.6rem;
}
#ui form input,
#ui form textarea,
#ui form select {
  margin-bottom: 10px;
}
#ui form fieldset {
  border: none;
}
#ui form textarea {
  min-height: 200px;
}
#ui fieldset > div {
  margin-bottom: 10px;
}
#ui .select {
  position: relative;
  display: block;
  margin-top: 0.5em;
  padding: 0;
}
#ui .select select {
  width: 100%;
  margin: 0;
  outline: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  appearance: none;
  -webkit-appearance: none;
  font-size: 1em;
  font-family: helvetica, sans-serif;
  font-weight: bold;
  color: #444;
  padding: .6em 1.9em .5em .8em;
  line-height: 1.3;
}
#ui .select select:focus {
  outline: none;
  box-shadow: 0 0 1px 3px #b4defa;
  color: #222;
  border: none;
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  #ui .select select::-ms-expand {
    display: none;
  }
  #ui .select select:focus::-ms-value {
    background: transparent;
    color: #222;
  }
}
#ui .select select x:-o-prefocus,
#ui .select select::after {
  display: none;
}
#ui .select select:-moz-focusring {
  color: transparent;
  text-shadow: 0 0 0 #000;
}
#ui .select::after {
  content: "";
  position: absolute;
  width: 9px;
  height: 8px;
  top: 50%;
  right: 1em;
  margin-top: -4px;
  background-image: url(http://filamentgroup.com/files/select-arrow.png);
  background-repeat: no-repeat;
  background-size: 100%;
  z-index: 2;
  /* This hack make the select behind the arrow clickable in some browsers */
  pointer-events: none;
}
#ui .select:hover {
  border: 1px solid #888;
}
#ui .select option {
  font-weight: normal;
}
@-moz-document url-prefix() {
  #ui .select {
    overflow: hidden;
  }
  #ui .select select {
    width: 120%;
    width: -moz-calc(103%);
    width: calc(100% em);
  }
}
.headlines {
  font-size: 81px;
  font-size: 8.1rem;
}
.titles {
  font-size: 72px;
  font-size: 7.2rem;
}
.subtitles {
  font-size: 68px;
  font-size: 6.8rem;
}
.xxlarge {
  font-size: 52px;
  font-size: 5.2rem;
}
.xlarge {
  font-size: 41px;
  font-size: 4.1rem;
}
.large {
  font-size: 32px;
  font-size: 3.2rem;
}
.medium {
  font-size: 26px;
  font-size: 2.6rem;
}
.default-font {
  font-size: 16px;
  font-size: 1.6rem;
}
.small {
  font-size: 14px;
  font-size: 1.4rem;
}
.tiny {
  font-size: 12px;
  font-size: 1.2rem;
}
h1 {
  font-size: 48px;
  font-size: 4.8rem;
}
h2 {
  font-size: 40px;
  font-size: 4rem;
}
h3 {
  font-size: 32px;
  font-size: 3.2rem;
}
header h1 {
  font-size: 81px;
  font-size: 8.1rem;
}
section h1 {
  font-size: 68px;
  font-size: 6.8rem;
}
article header h1 {
  font-size: 52px;
  font-size: 5.2rem;
}
aside header h1 {
  font-size: 26px;
  font-size: 2.6rem;
}
footer h1 {
  font-size: 16px;
  font-size: 1.6rem;
  font-weight: bolder;
}
p {
  font-size: 16px;
  font-size: 1.6rem;
}
